
*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  overflow-x: hidden;
}


img,
video,
canvas,
svg {
  max-width: 100%;
  height: auto;
}

.app {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

html, body {
   width: 100%;
 
  overflow-x: hidden;
}

html {
    overflow-y: scroll;
  scrollbar-gutter: stable;
}




.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition: transform 0.35s ease;
  position: absolute;
  inset: 1;
  width: 100%;
  height: 100%;
}

.slide-left-enter-from {
  transform: translateX(100%);
}
.slide-left-leave-to {
  transform: translateX(-100%);
}

.slide-right-enter-from {
  transform: translateX(-100%);
}
.slide-right-leave-to {
  transform: translateX(100%);
}
















